body {
  background-color: tomato;
}
.cardContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px 300px;
  padding: 20px;
  border-top: 20px;
  text-align: justify;
}
.buttonDiv {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 50px;
  gap: 20px 100px;
}
.cats {
  background-color: pink;
}
.dogs {
  background-color: lightgreen;
}
.dinos {
  background-color: lightcoral
}
.allPets {
  background-color: blue;
}
h4 {
  text-align: center;
  font-weight: none;
  font-size: 16px;
}
.cat-type {
  background-color: rgb(51, 255, 189)
}
.dog-type {
  background-color: rgb(22, 174, 249);
}
.dino-type {
  background-color: rgb(235, 30, 254);
}
#myPetContainer {
  display: flex;
  justify-content: center;
}
