body {
  background-color: tomato;
}
.cardContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px 300px;
  padding: 20px;
  border-top: 20px;
  text-align: justify;
}
